*{
margin: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#letters h2{
color: white;

}

#logo {
     text-align: center; 
}
#logo h1{
 display: inline-block;
padding: 10px 20px;
background-color: rgba(0, 0, 0, 0.8);
color: azure;
border-radius: 10px;
margin: 25px;
}

#options{
display: flex;  
justify-content: center;

}

#options a{
padding: 10px 20px;
background-color: rgb(255, 255, 255,0.9);
color: black;


}

#homeproduct{
    padding: 10px 20px;
    background-color: rgba(31, 31, 31, 0.9);
    box-sizing: border-box;
    text-align: center;
    
}
#homeproduct img{
    width: 450px;
    height: 550px;
    border-radius: 10px;
    
}
#homeproduct a{
    padding: 10px;
}
#homeproduct p{
    padding: 10px 20px;
    background-color: white ;
    display: inline-block;
}

#homeproduct p:hover{
transition: 0.95s;
border-radius: 10px;
}
#firstline{
 padding: 10px 20px;
    background-color: rgba(31, 31, 31, 0.9);
    box-sizing: border-box;
   
}


#firstline img{
    width: 400px;
    height: 500px;
    border-radius: 10px;

    
}

#product{
    display: flex;
   justify-content: center;
   gap: 10px;
}

#productname{
    display: flex;
    justify-content: center;
    gap: 250px;

}

#productname p{
border-radius: 10px;
 padding: 10px 20px;
    background-color: white ;
    display: inline-block;
}
#all {
    display: flex;
    padding: 10px 20px;
    background-color: rgb(255, 254, 254,0.9);
    gap: 10px;
}
#img img{
border-radius: 10px;
}

.btn:hover{
  background-color: hsl(0, 100%, 36%);
  transition: 0.95s;
 border-radius: 10px;
}
.btn{
    color: black;
      padding: 10px 20px;
  background-color: hsl(110, 100%, 35%);
   
}

#three {
 display: flex;
    flex-direction: column;
    gap: 50px;
}
#purchase {
display: flex;
 flex-direction: column;
justify-content: center; 
align-items: center; 
 gap: 10px;
background-color: rgba(255, 255, 255, 0.9); 
padding: 100px 200px;
width: fit-content;
border-radius: 15;
margin: 50px auto; 
}
#purchase img{
    width: 100px;
    height: auto;
    display: flex;

}
